body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
}

header{
  text-align: center;
  width:45%;
  position: relative;
  margin-top: 80px;
  left:23em;
}

h1{
  margin-top:0;
  margin-bottom:0;
  color: #4c4e61;
}

h3 {
  color: #4c4e61;
}

p {
  color: #a3a5ae;

}

main {
  width: auto;
  height: 700px;
}

img {
  position: relative;
  left:250px;
  top:25px;
}
.supervisor {
  box-sizing:border-box;
  background-color: #ffffff;
  box-shadow: 2px 5px 20px 5px #efefef;
  border-radius: 10px;
  padding-left: 30px;
  padding-right:30px;
  width: 375px;
  border-top:6px solid 	#ea5353;
  position:relative;
  top: 180px;
  height: 250px;
  left: 4em;

}


.team-builder {
  box-sizing:border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 5px 20px 5px #efefef;
  padding-left: 30px;
  padding-right:30px;
  width: 375px;
  border-top:6px solid #45d3d3;
  left:30em;
  position:relative;
  top: -210px;
  height: 250px;
}


.karma {
  box-sizing:border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 5px 20px 5px #efefef;
  padding-left: 30px;
  padding-right:30px;
  width: 375px;
  border-top:6px solid #fcaf4a;
  left:30em;
  position:relative;
  top: -180px;
  height: 250px;
}



.calculator {
  box-sizing:border-box;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 2px 5px 20px 5px #efefef;
  padding-left: 30px;
  padding-right:30px;
  width: 375px;
  border-top:6px solid 	#549ef2;
  position:relative;
  top: -570px;
  height: 250px;
  left: 56em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#headline {
  font-weight: 200;
}

#headline2 {
  font-weight: 600;
}

@media (max-width: 1024px) {
  .team-builder{
    left: 21em;
  }
  .karma {
    top: 80px;
    left: 21em;
  }

  .supervisor {
    top: 310px;
    left: 5em;
  }

  .calculator {
    left:37em;
    top: -440px;
  }

  header {
    left: 18em;
  }
main {
  height: 900px;
}

}

@media (max-width: 768px) {
  .team-builder{
    left: 12em;
  }
  .karma {
    top: 80px;
    left: 12em;
  }

  .supervisor {
    top: 310px;
    left: 0;
  }

  .calculator {
    left:25em;
    top: -440px;
  }

  header {
    left: 13em;
  }

  main {
    height: 1000px;
  }

}
